*, *::before, ::after {
    box-sizing: border-box;
}


* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif; /* Cambiado el estilo de fuente */
}

body {
    min-height: 100vh;
    margin: 0rem;
    background-color: #1E1E1E; /* Cambiado el color de fondo */
    color: #FFFFFF; /* Cambiado el color del texto */
}

igm, picture, svg, video {
    display: block;
    max-width: 100%;
}

/* Navbar */

.navbar__container {
    padding: 0 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    width: 100%;
    background-color: black;
}

.navbar__logo {
    height: 60px;
    width: 80px;
    background-color: white;
}    

.navbar--buttons__primary {
    padding: 0.5rem 1rem;
    margin-right: 0.5rem;
    font-weight: 800;
}

.navbar--buttons__secondary {
    padding: 0.5rem 1rem;
    font-weight: 800;
}


/* Game section */

.gameImage {
    width: 100px;
    height: 100px;
}

#gamesContainer{
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.gameFlex {
    width: 12rem;
    height: 15rem;
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: flex-start;
    justify-content: center;
}

.game__button {
    padding: 0.5rem 1rem;
    margin-right: 0.5rem;
    font-weight: 800;
    background-color: green;
}